.hero {
    background: url('../../assets/bg.jpg') no-repeat center center;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    color: #fff;
    text-align: center;
  }
  
  .hero-content {
    max-width: 800px;
    margin: 10rem auto;
    color: darkblue;
  }
  
  .hero-content h1 {
    font-size: 3rem;
    margin-bottom: 20px;
  }
  
  .hero-content p {
    font-size: 1.25rem;
    margin-bottom: 40px;
  }
  
  .cta-button {
    display: inline-block;
    padding: 15px 30px;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 23px;
  }
  
  .cta-button:hover {
    background-color: #0056b3;
  }