<header class="header">
    <nav>
       <div class="header-logo">
         <img class="header-logo-1" src="../../assets/logo.png" alt="logo">
         <span>StarSync</span>
       </div>
     <div>
        <ul>
            <li><a routerLink="/">Home</a></li>
            <li *ngIf="!userAuthenticated"><a routerLink="/login">Login</a></li>
            <li *ngIf="!userAuthenticated"><a routerLink="/signup">Signup</a></li>
            <li *ngIf="userAuthenticated"><span><b>Welcome, </b>{{userName}}</span></li>
            <button *ngIf="userAuthenticated" (click)="logoutUser()" type="submit" mat-raised-button color="warn">Logout</button>
          </ul>
          
     </div>
    </nav>
  </header>
  