<mat-drawer-container class="sidebar-container">
    <router-outlet></router-outlet>
    <mat-drawer mode="side" opened class="sidebar">
        <div *ngIf="currentRole=='Admin'" class="sidebar">
            <ul>
                <div class="side-nav">
                  <div><mat-icon>dashboard</mat-icon></div>
                  <li><a [routerLink]="'/admin/dashboard'">Dashboard</a></li>
                </div>
                <div class="side-nav">
                  <div><mat-icon>add</mat-icon></div>
                  <li><a [routerLink]="'/admin/project/new'">New Projects</a></li>
                </div>
                <div class="side-nav">
                  <div><mat-icon>view_list</mat-icon></div>
                  <li><a [routerLink]="'/admin/projects'">Show All Projects</a></li>
                </div>
              </ul>
              
        </div>
        <div *ngIf="currentRole=='Project Manager'" class="sidebar">
            <ul>
              <div class="side-nav">
                <div><mat-icon>dashboard</mat-icon></div>
                <li><a [routerLink]="'/manager/projects'">Dashboard</a></li>
              </div>
              <div class="side-nav">
                <div><mat-icon>group</mat-icon></div>
                <li><a [routerLink]="'/manager/team'">Team Members</a></li>
              </div>
            </ul>
        </div>
        <div *ngIf="currentRole=='Team Member'" class="sidebar">
            <ul>
                <div class="side-nav">
                  <div><mat-icon>dashboard</mat-icon></div>
                  <li><a [routerLink]="'/team/dashboard'">Dashboard</a></li>
                </div>
            </ul>
        </div>
    </mat-drawer>
    <mat-drawer-content><ng-content></ng-content></mat-drawer-content>
</mat-drawer-container>
