<div class="card-container">
  <mat-card>
    <mat-card-header class="dashboard-heading">New Projects</mat-card-header>
    <mat-card-content class="show-project-field"><b></b>{{dashboard.new_projects}}</mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-header class="dashboard-heading">Total Projects</mat-card-header>
    <mat-card-content class="show-project-field"><b></b>{{dashboard.projects}}</mat-card-content>
  </mat-card>
    <mat-card>
        <mat-card-header class="dashboard-heading">Projects Managers</mat-card-header>
      <mat-card-content class="show-project-field"><b></b>{{dashboard.project_managers}}</mat-card-content>
    </mat-card>
   
      <mat-card>
        <mat-card-header class="dashboard-heading">Team Members</mat-card-header>
        <mat-card-content class="show-project-field"><b></b>{{dashboard.team_members}}</mat-card-content>
      </mat-card>
     
  </div>
  
    
  